
<section class="steps-to pt-0">
    <div class="container text-center">
        <div class="section-title mb-6 w-75 mx-auto text-center">
            <h4 class="mb-1 theme1">@Localizer["Steps_Title"]</h4>
            <h2 class="mb-1">@Localizer["Steps_Subtitle"]</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 step-card">
                <img src="~/travelin/travelin/images/illu3.png" alt="Search Destination" class="step-icon mb-3 w-75" />
                <h4 class="fw-semibold">@Localizer["Steps_Search"]</h4>
                <p class="step-subtitle">@Localizer["Steps_SearchDesc"]</p>
            </div>
            <div class="col-md-4 step-card">
                <img src="~/travelin/travelin/images/illu2.png" alt="Select Package" class="step-icon mb-3 w-75" />
                <h4 class="fw-semibold">@Localizer["Steps_Select"]</h4>
                <p class="step-subtitle">@Localizer["Steps_SelectDesc"]</p>
            </div>
            <div class="col-md-4 step-card">
                <img src="~/travelin/travelin/images/illu1.png" alt="Complete Booking" class="step-icon mb-3 w-75" />
                <h4 class="fw-semibold">@Localizer["Steps_Book"]</h4>
                <p class="step-subtitle">@Localizer["Steps_BookDesc"]</p>
            </div>
        </div>
    </div>
</section>
