@model List<ResultTestimonialDto>
<section class="testimonial py-0" style="background-image: url(~/travelin/travelin/images/testimonial.png)">
    <div class="container">
        <div class="section-title mb-6 text-center w-75 mx-auto">
            <h4 class="mb-1 theme1">@Localizer["Testimonial_Title"]</h4>
            <h2 class="mb-1">@Localizer["Testimonial_Subtitle"]</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-4">
                <div class="row review-slider">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4 item">
                            <div class="testimonial-item rounded text-lg-start text-center">
                                <div class="author-info d-flex justify-content-lg-start justify-content-center align-items-center mb-4">
                                    <img src="@item.ImageUrl" alt="" />
                                    <div class="author-title ms-3">
                                        <h5 class="m-0 theme">@item.TestimonialName</h5>
                                        <span>@item.Title</span>
                                    </div>
                                </div>
                                <div class="details">
                                    <p class="m-0 fs-6">
                                        <i class="fa fa-quote-left me-2 fs-1"></i> @item.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5 ps-lg-4">
                <div class="testimonial-image text-center">
                    <img src="~/travelin/travelin/images/testi.png" alt="" class="w-80" />
                </div>
            </div>
        </div>
    </div>
</section>
